<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="X_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <X_Service.Properties.Settings>
            <setting name="X_Service_org_renzhe_serv_ServiceShop" serializeAs="String">
                <value>http://serv.renzhe.org/ServiceShop.asmx</value>
            </setting>
            <setting name="X_Service_localhost_ServiceShop" serializeAs="String">
                <value>http://localhost:3630/ServiceShop.asmx</value>
            </setting>
        </X_Service.Properties.Settings>
    </applicationSettings>
</configuration>